.header-container{
  padding: 20px;
  background-color: blue;
  color: white;
  
}
.header-container .header{
  margin-left: 20px;
  font-size: larger;
  font-weight: 400;
}

.users{
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.user-container{
  display: flex;
  margin: 20px;
  padding: 10px;
  justify-content:space-between;
  border: 2px solid #e7d1d1;
  background-color: #e9e0e0;
  border-radius: 5px;
  font-size: large;
  flex: 0 0 calc(50% - 20px);
  align-items: center;
  cursor: pointer;
}
.user-footer Button{
  background-color: red;
  border: none;
  color: #fff;
  padding: 4px 5px;
  border-radius: 5px;
  font-size: large;
}
.user-details{
  padding: 10px;
  font-size: large;
  display: none;
  position: absolute;
  left: 55%;
  width: 35%;
}
.detail{
  display: inline-block;
  width: 20%;
}
.show-details .user-details {
  display: block; 
}